body {
    background-color: rgb(246, 216, 176);

}
.jsr {
    font-weight: bold;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 1rem 0;
}
.container {
    display: flex;
    flex-direction: column-reverse;
    background-color: dodgerblue;

}
.wrapper {
    max-width: 800px;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 20px;
}
body.dark-mode { background-color: #1a1a1a;
    color: #f4f4f4;

}
body.dark-mode header,
body.dark-mode footer {
    background-color: #000000;
}
body.dark-mode .card {
    background-color: #333333;
    border-color: #555555:
}
.btn { 
    background-color: blue;
    border-radius: 6px;
    color: #f4f4f4;

}
form {
    margin: 50px auto;
    padding: 10px;
    border-radius: 16px;
    box-shadow: 0 0 1 0px rgba(0,0,0,0.1);


}